* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

:root {
  /* BASE COLORS */
  --bg-color: #000000;
  --second-bg-color: #0a0a0a;
  --text-color: #ffffff;
  --main-color: #545454;

  /* 8-BIT RETRO PALETTE */
  --red: #c00000;
  --green: #00a000;
  --blue: #2040c0;
  --yellow: #f8b800;
  --cyan: #00b8f8;
  --magenta: #d82888;

  /* SNES STYLE ACCENTS */
  --purple: #682b8c;
  --teal: #1c8a8c;
  --orange: #f85800;
  --lime: #a4e400;

  /* GRAYSCALE SUPPORT */
  --gray-100: #a0a0a0;
  --gray-200: #737373;
  --gray-300: #545454;
  --gray-400: #2c2c2c;
  --gray-500: #171717;
}

html {
  font-size: 60%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

h2 {
  font-family: 'Press Start 2P', system-ui;
}

/* HEADER */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 4rem 15%;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

#menu-icon {
  font-size: 3rem;
  color: var(--text-color);
  display: none;
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo-font {
  font-family: 'Press Start 2P', system-ui;
}

.logo:hover {
  transform: scale(1.1);
}

span {
  font-family: 'Press Start 2P', system-ui;
  color: #a4e400;
}

/* NAVBAR */

.navbar a {
  font-size: 1.5rem;
  font-family: 'Press Start 2P', system-ui;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}

.navbar a:hover {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

/* Tested animation on header with font change */
/* 
  font-family: 'UnifrakturMaguntia';
  color: #c77dff;
  font-size: 3rem; */

.gradient-btn {
  font-family: 'Press Start 2P', system-ui;
  font-size: 2rem;
  padding: 2rem 2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background-color: #737373;
  border: 4px #a0a0a0 solid;
  color: #c00000;
  text-wrap: none;
}

.gradient-btn:hover {
  transform: scale(1.1);
}

section {
  min-height: 100vh;
  padding: 10rem 15%;
}

/* HOME SECTION */

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}

.home-content h1 {
  font-size: 7rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.home-content h3 {
  margin: 1rem 0;
  font-size: 5rem;
}

.home-content p {
  font-size: 2rem;
  line-height: 1.8;
}

/* SOCIAL ICONS & BUTTONS*/

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  padding: 1rem;
  background: transparent;
  border: 4px #a0a0a0 solid;
  color: var(--main-color);
  margin: 3rem 0.5rem;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  background-color: var(--main-color);
  color: #00b8f8;
  transform: scale(1.2) translateY(-5px);
}
.social-icons a:first-child:hover {
  background-color: var(--main-color);
  color: #f8b800;
  transform: scale(1.2) translateY(-5px);
}

.btn-group {
  display: flex;
  gap: 1.5rem;
}

.btn {
  font-family: 'Press Start 2P', system-ui;
  font-size: 2rem;
  padding: 2rem 2rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  background-color: #737373;
  border: 4px #a0a0a0 solid;
  color: #c00000;
  text-wrap: none;
}

.btn:hover {
  transform: scale(1.1);
}

/* ABOUT ME SECTION */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  background: var(--second-bg-color);
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.about-content h2 {
  font-size: 7rem;
}

.about-content p {
  font-size: 2rem;
}

.about-content .btn {
  width: 20%;
  margin: 0;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: #c00000;
}

::-webkit-scrollbar-track {
  background-color: var(--main-color);
}

/* SKILLS SECTION */

.heading {
  text-align: center;
  font-size: 7rem;
  margin: 5rem 0;
}

.skills {
  background-color: var(--bg-color);
  color: black;
}

.skills h2 {
  color: var(--text-color);
  font-size: 7rem;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: center;
  gap: 2.5rem;
}

.skills-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  cursor: pointer;
  background-color: #737373;
  border: 8px #a0a0a0 solid;
  transition: 0.3s ease-in-out;
  color: white;
}

.skills-box:hover {
  background: var(--bg-color);
  color: #f8b800;
  border: 8px solid #f8b800;
  transform: scale(1.1);
}

.skills-box:nth-child(2):hover {
  background: var(--bg-color);
  color: #c00000;
  border: 8px solid #c00000;
  transform: scale(1.1);
}

.skills-box:nth-child(3):hover {
  background: var(--bg-color);
  color: #a4e400;
  border: 8px solid #a4e400;
  transform: scale(1.1);
}

.skills-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.skills-info h4 {
  font-family: 'Press Start 2P', system-ui;
  font-size: 3rem;
  margin: 2rem 0;
}

.skills-info p {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7;
}

.skills-info i {
  font-size: 7rem;
}

/* PROJECTS SECTION */

.projects {
  background-color: var(--second-bg-color);
  padding: 4rem 2rem;
}

.projects-box {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
  gap: 3rem;
  row-gap: 5rem;
  align-items: center;
}

.project-card {
  display: flex;
  align-items: center;
  text-align: left;
  background-color: var(--bg-color);
  border: 8px solid #a0a0a0;
  padding: 2rem;
  gap: 2rem;
  transition: 0.3s ease;
  width: 100%;
  max-width: 60%;
  cursor: pointer;
}

.project-card img {
  padding: 10px;
  margin: 10px;
  max-height: 40em;
  min-width: 50em;
  object-fit: cover;
  display: block;
  background-repeat: no-repeat;
  background-size: 1px; /* Smaller value = more pixelated */
  filter: blur(1px);
}

.project-card h3 {
  font-family: 'Press Start 2P', system-ui;
  font-size: 3rem;
  text-align: center;
  margin: 1rem;
}

.project-card:nth-of-type(1) h3:hover {
  color: #f8b800;
}

.project-card:nth-of-type(2) h3:hover {
  color: #f85800;
}

.project-card:nth-of-type(3) h3:hover {
  color: #2040c0;
}

.project-card:nth-of-type(4) h3:hover {
  color: #682b8c;
}

.project-card:nth-of-type(5) h3:hover {
  color: #c00000;
}

.project-card p {
  font-size: 2rem;
  line-height: 1.4;
  margin: 1rem 0;
  text-align: center;
  max-width: 65ch;
}

.project-card:hover {
  background: var(--bg-color);
  color: var(--main-color);
  transform: scale(1.1);
}

.project-card:nth-child(1):hover {
  border: 8px solid #f8b800;
}
.project-card:nth-child(2):hover {
  border: 8px solid #f85800;
}
.project-card:nth-child(3):hover {
  border: 8px solid #2040c0;
}
.project-card:nth-child(4):hover {
  border: 8px solid #682b8c;
}
.project-card:nth-child(5):hover {
  border: 8px solid #c00000;
}

/* CONTACT */

.contact {
  background-color: var(--bg-color);
}

.contact h2 {
  margin-bottom: 3rem;
  color: var(--text-color);
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
  text-align: center;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}

footer {
  background-color: var(--second-bg-color);
  padding: 50px 0;
}

footer .social-icons {
  text-align: center;
}

footer ul {
  text-align: center;
  font-size: 1.8rem;
}

footer ul li {
  display: inline-block;
  margin-left: 20px;
}

footer ul li a {
  color: white;
  border-bottom: 3px solid var(--main-color);
  transition: 0.3s ease-in-out;
}

footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
}

footer .copyright {
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
}

/* RESPONSIVE */

@media (max-width: 1285px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3rem;
    background: rgba(0, 0, 0, 0.8);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem;
    color: var(--text-color);
  }

  .navbar.active {
    display: block;
  }

  .gradient-btn {
    display: none;
  }

  .home {
    flex-direction: column-reverse;
    margin: 5rem 0;
    gap: 5rem;
  }

  .home-content {
    align-items: center;
    text-align: center;
  }

  .home-img {
    width: 56vw;
  }

  .about {
    flex-direction: column-reverse;
    text-align: center;
  }

  .about h2 {
    text-align: center;
    margin: 2rem 0;
  }

  .about img {
    width: 52vw;
  }

  .contact form {
    flex-direction: column;
  }
}
