/*Colours*/
/*
Perrywinkle

#f1eeff lightest
#c6bbff light
#9c88ff main 
#4722ff dark
#090033 darkest
*/

a {
  text-decoration: none;
  color: #9c88ff;
}

nav {
  display: flex;
  justify-content: space-between;
  font-family: 'Lobster', sans-serif;
  color: #9c88ff;
  font-size: 40px;
  padding: 30px;
  margin: auto;
}

.main-page {
  height: auto;
  width: auto;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url('/images/les-paul.jpg');
  position: relative;
}

.main-flex {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  margin: 10px;
}

.name {
  color: #9c88ff;
  font-size: 90px;
  font-family: 'Lobster', sans-serif;
  letter-spacing: 3px;
}

.about-me {
  padding: 15px;
  border-radius: 40px;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 400;
  max-width: 60ch;
  color: #c6bbff;
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}

.blog-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  font-size: 30px;
  padding: 10px;
}

/* RESPONSIVE DESIGN */

/* widescreen displays */
@media only screen and (min-width: 920px) {
  /* some layout rules */
}

/* tablets */
@media only screen and (max-width: 919px) {
  .name {
    font-size: 80px;
    letter-spacing: 2px;
  }

  .about-me {
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    max-width: 30ch;
    padding: 15px;
  }

  nav {
    font-size: 20px;
    padding: 10px;
  }
}

/* phones */
@media only screen and (max-width: 500px) {
  .name {
    font-size: 40px;
    letter-spacing: 1px;
  }

  .about-me {
    margin-top: 10px;
    font-size: 15px;
    letter-spacing: 2px;
    max-width: 30ch;
    padding: 15px;
    max-width: 40ch;
  }

  nav {
    font-size: 20px;
    padding: 10px;
  }

  .blog-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
  }
}
